# Pruebas básicas para book en R

Estas son pruebas básicas para crear jupyter notebooks en R

Aquí se hace una observación básica de la base de datos

In [1]:
if (!require("readr")) {
  install.packages("readr")
}
library(readr)

# Cargar el archivo CSV
data <- read_csv("publicidadVentas.csv")

# Visualizar las primeras filas de los datos
head(data)

# Resumen estadístico de las variables numéricas
summary(data)

# Si necesitas más información sobre las columnas específicas, por ejemplo, si quieres conocer los tipos de datos,
# puedes usar la función str(data)
str(data)

Loading required package: readr

Rows: 1132 Columns: 8

-- Column specification --------------------------------------------------------
Delimiter: ","
dbl (8): am, y, ciiu3, publicidad, ventas, hombres, mujeres, kw


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  am y    ciiu3 publicidad ventas    hombres  mujeres   kw
1 1  1983 311   3788.6905  223934.53 39.39682 19.841270 425238.8
2 2  1983 311   5966.0000  249857.73 40.25843 17.213484 503172.9
3 3  1983 311   1842.0164  219366.26 46.10656 25.213116 398617.2
4 4  1983 311   1595.0952  248018.90 27.52381 32.190475 243962.8
5 5  1983 311   1800.4559  337150.60 49.19118 11.926471 716940.8
6 6  1983 311    247.5758   67608.76 13.34343  9.747475 262221.7

       am              y            ciiu3         publicidad
 Min.   :1.000   Min.   :1983   Min.   :311.0   Min.   :     0.0
 1st Qu.:3.000   1st Qu.:1984   1st Qu.:323.0   1st Qu.:   176.2
 Median :5.000   Median :1985   Median :352.0   Median :   666.7
 Mean   :4.874   Mean   :1985   Mean   :349.1   Mean   :  7198.6
 3rd Qu.:7.000   3rd Qu.:1986   3rd Qu.:371.0   3rd Qu.:  2726.3
 Max.   :9.000   Max.   :1987   Max.   :390.0   Max.   :463197.0
     ventas            hombres           mujeres              kw
 Min.   :    2084   Min.   :   3.00   Min.   :  0.000   Min.   :        0
 1st Qu.:   57021   1st Qu.:  22.98   1st Qu.:  6.093   1st Qu.:   102900
 Median :  190851   Median :  40.00   Median : 12.828   Median :   331592
 Mean   :  777620   Mean   :  76.09   Mean   : 22.191   Mean   :  2427760
 3rd Qu.:  537191   3rd Qu.:  79.06   3rd Qu.: 25.552   3rd Qu.:   983487
 Max.   :59611209   Max.   :1139.25   Max.   :331.000   Max.   :144228238

spec_tbl_df [1,132 x 8] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ am        : num [1:1132] 1 2 3 4 5 6 7 8 9 1 ...
 $ y         : num [1:1132] 1983 1983 1983 1983 1983 ...
 $ ciiu3     : num [1:1132] 311 311 311 311 311 311 311 311 311 312 ...
 $ publicidad: num [1:1132] 3789 5966 1842 1595 1800 ...
 $ ventas    : num [1:1132] 223935 249858 219366 248019 337151 ...
 $ hombres   : num [1:1132] 39.4 40.3 46.1 27.5 49.2 ...
 $ mujeres   : num [1:1132] 19.8 17.2 25.2 32.2 11.9 ...
 $ kw        : num [1:1132] 425239 503173 398617 243963 716941 ...
 - attr(*, "spec")=
  .. cols(
  ..   am = col_double(),
  ..   y = col_double(),
  ..   ciiu3 = col_double(),
  ..   publicidad = col_double(),
  ..   ventas = col_double(),
  ..   hombres = col_double(),
  ..   mujeres = col_double(),
  ..   kw = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

Voy a hacer una gráfca simple en R usando el paquete de shiny

In [2]:
# Instalé shiny y ggplot2
if (!require("shiny")) {
  install.packages("shiny")
}
if (!require("ggplot2")) {
  install.packages("ggplot2")
}
library(shiny)
library(ggplot2)

# Interfaz
ui <- fluidPage(
  titlePanel("Gráfico por año"),
  sidebarLayout(
    sidebarPanel(
      # opciones de input
      selectInput("variable", "Selecciona una variable:",
                  choices = c("publicidad", "ventas", "kw"))
    ),
    mainPanel(
      plotOutput("plot")
    )
  )
)

# Función de un server en la app de Shiny
server <- function(input, output) {
  output$plot <- renderPlot({

    #PLOT
    ggplot(data, aes_string(x = "y", y = input$variable)) +
      geom_bar(stat = "summary", fun = sum, fill = "blue") +
      labs(x = "Año", y = input$variable)
  })
}

# Crea la aplicación Shiny
shinyApp(ui = ui, server = server)

Loading required package: shiny

Loading required package: ggplot2


Listening on http://127.0.0.1:5711

: